@import url("https://fonts.googleapis.com/css?family=Lato|Zilla+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato|Zilla+Slab");
:root {
  font-size: 14px;
}

/* use

 .selector {
  color: red;
  
  @include breakpoint('small') {
    color: blue;
  }
}

  */
/* 							to insert img
.logo {
 		path('logo.png')left top no-repeat;/
}
*/
/* 				to use
ul {
	@include no-bullets;
 }
*/
/*		to use:
&:hover {
		color: darker($red);
	}
*/
* img {
  width: 100%;
  max-height: 5%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
}

* img:hover {
  -webkit-filter: grayscale(100%);
}

.container {
  background-color: #a99bbf;
}

h1, header, h3, h4, .more, .contact ul {
  font-family: 'Zilla Slab', serif;
}

.wrapper, .contact h3, .contact ul, h4 {
  padding-top: 1rem;
}

ul {
  color: #0b120c;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}

ul li {
  line-height: 1.8rem;
}

ul li.nav--logo, ul li.nav--button {
  -webkit-box-shadow: 0 1.1px 5px 0 rgba(11, 18, 12, 0.5);
  box-shadow: 0 1.1px 5px 0 rgba(11, 18, 12, 0.5);
  width: 100vw;
  text-align: center;
}

@media (min-width: 640px) {
  ul li.nav--logo, ul li.nav--button {
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

ul li.nav--logo {
  background-image: url("../images/cloud.png"), url("../images/tri.png"), -webkit-gradient(linear, left top, right bottom, from(#a99bbf), to(#d8ab6c));
  background-image: url("../images/cloud.png"), url("../images/tri.png"), -webkit-linear-gradient(top left, #a99bbf, #d8ab6c);
  background-image: url("../images/cloud.png"), url("../images/tri.png"), -o-linear-gradient(top left, #a99bbf, #d8ab6c);
  background-image: url("../images/cloud.png"), url("../images/tri.png"), linear-gradient(to bottom right, #a99bbf, #d8ab6c);
  background-size: cover;
}

@media (min-width: 640px) {
  ul li.nav--logo {
    background: inherit;
  }
}

ul li.nav--button {
  font-size: 1.6rem;
}

ul li.nav--button a:hover {
  color: #fcf8f2;
}

ul li a:link, ul li a:visited, ul li a:active {
  text-decoration: none;
  color: #0b120c;
}

header, section, .more h2, .nav--button, .nav--logo, .section--title, .project--title {
  padding: 1rem 0.5rem;
}

main, section, ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 640px) {
  nav {
    background-image: url("../images/cloud.png"), url("../images/tri.png"), -webkit-linear-gradient(258deg, #a99bbf, #d8ab6c);
    background-image: url("../images/cloud.png"), url("../images/tri.png"), -o-linear-gradient(258deg, #a99bbf, #d8ab6c);
    background-image: url("../images/cloud.png"), url("../images/tri.png"), linear-gradient(192deg, #a99bbf, #d8ab6c);
    background-size: cover;
  }
}

nav h1 {
  font-size: 2.7rem;
  font-weight: bolder;
}

@media (min-width: 640px) {
  nav .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

header {
  text-align: center;
  color: #d6cfe0;
  font-size: 1.4rem;
}

section h3 {
  font-size: 1.6rem;
}

section h4 {
  font-size: 1.4rem;
  border-top: dotted 5px #ead1af;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

section.project {
  background-color: #ececec;
}

section.project p {
  padding-bottom: 1.5rem;
}

article {
  padding: 1rem 0rem;
}

article p a:link, article p a:visited, article p a:active {
  text-decoration: none;
  color: #745f95;
}

article p a:hover {
  color: #d8ab6c;
}

article p:nth-child(1) {
  font-style: italic;
}

iframe {
  max-width: 100%;
}

@media (min-width: 768px) {
  .project--title {
    grid-area: title;
  }
}

@media (min-width: 768px) {
  .project--about {
    grid-area: about;
  }
}

.project--1, .project--2, .project--3 {
  -webkit-box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .project--1, .project--2, .project--3 {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas: "title title" "img about";
  }
  .project--1 img, .project--1 iframe, .project--2 img, .project--2 iframe, .project--3 img, .project--3 iframe {
    grid-area: img;
  }
}

.more {
  font-size: 1.4rem;
}

.more h2.more--right {
  color: #d6cfe0;
}

@media (min-width: 640px) {
  .more h2.more--center {
    text-align: center;
  }
}

.contact {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: "title" "info" "social";
}

.contact h3 {
  border-top: dotted 5px #ead1af;
  color: white;
}

@media (min-width: 640px) {
  .contact h3 {
    font-size: 1.8rem;
  }
}

.contact ul {
  font-size: 1.3rem;
}

@media (min-width: 640px) {
  .contact ul {
    font-size: 1.5rem;
  }
}

.contact a {
  display: block;
  height: 100%;
}

.contact a:link, .contact a:visited, .contact a:active {
  text-decoration: none;
  color: #0b120c;
}

.contact a:hover {
  color: #d8ab6c;
}

.contact .mask {
  background: white;
  width: 4rem;
  height: 4rem;
}

.contact .mask:hover {
  background: #d8ab6c;
}

.contact .mask .in--mask, .contact .mask .gh--mask {
  z-index: 4;
  position: relative;
  display: inline-block;
}

.contact .mask .in--mask a, .contact .mask .gh--mask a {
  content: '';
  position: relative;
  display: block;
}

.contact .mask .in--mask a:after, .contact .mask .gh--mask a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact .in--mask {
  -webkit-mask: url("../images/linkedin.svg") center center no-repeat;
  mask: url("../images/linkedin.svg") center center no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.contact .gh--mask {
  -webkit-mask: url("../images/gh.svg") center center no-repeat;
  mask: url("../images/gh.svg") center center no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.contact .contact--title {
  grid-area: title;
}

.contact .contact--info {
  grid-area: info;
}

.contact .contact--social {
  grid-area: social;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media (min-width: 640px) {
  .contact {
    grid-template-areas: "title info social";
  }
}

/* use

 .selector {
  color: red;
  
  @include breakpoint('small') {
    color: blue;
  }
}

  */
/* 							to insert img
.logo {
 		path('logo.png')left top no-repeat;/
}
*/
/* 				to use
ul {
	@include no-bullets;
 }
*/
/*		to use:
&:hover {
		color: darker($red);
	}
*/
* img {
  width: 100%;
  max-height: 5%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
}

* img:hover {
  -webkit-filter: grayscale(100%);
}

@media (min-width: 640px) {
  .about--text {
    grid-area: about;
  }
}

.about {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 1rem;
  grid-template-areas: "img" "about";
}

@media (min-width: 640px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: auto;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: "img about";
  }
  .about img {
    grid-area: img;
  }
}

.skill {
  -webkit-box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #ececec;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  grid-row-gap: 1rem;
  grid-template-areas: "soft" "design";
}

.skill .skill--soft {
  grid-area: soft;
}

.skill .skill--design {
  grid-area: design;
}

.skill--title {
  grid-area: title;
}

.skill--list {
  grid-area: list;
  justify-self: center;
}

@media (min-width: 640px) {
  .skill--design, .skill--soft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-template-areas: "title title title title" ". . list--2 list";
  }
  .skill--design ul:nth-child(2), .skill--soft ul:nth-child(2) {
    grid-area: list--2;
    justify-self: center;
  }
}

.contact h3, .skill h3 {
  border-top: dotted 5px #ead1af;
  padding-top: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  background: url("../images/cloud.png"), url("../images/tri.png"), -webkit-gradient(linear, left top, right bottom, from(#a99bbf), to(#d6cfe0));
  background: url("../images/cloud.png"), url("../images/tri.png"), -webkit-linear-gradient(top left, #a99bbf, #d6cfe0);
  background: url("../images/cloud.png"), url("../images/tri.png"), -o-linear-gradient(top left, #a99bbf, #d6cfe0);
  background: url("../images/cloud.png"), url("../images/tri.png"), linear-gradient(to bottom right, #a99bbf, #d6cfe0);
  background-repeat: no-repeat;
}
