@import url("https://fonts.googleapis.com/css?family=Lato|Zilla+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato|Zilla+Slab");
:root {
  font-size: 14px;
}


* img {
  width: 100%;
  max-height: 5%;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 10px 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

* img:hover {
  -webkit-filter: grayscale(100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  background: url("../images/cloud.png"), url("../images/tri.png"), -webkit-gradient(linear, left top, right bottom, from(#a99bbf), to(#d6cfe0));
  background: url("../images/cloud.png"), url("../images/tri.png"), -webkit-linear-gradient(top left, #a99bbf, #d6cfe0);
  background: url("../images/cloud.png"), url("../images/tri.png"), -o-linear-gradient(top left, #a99bbf, #d6cfe0);
  background: url("../images/cloud.png"), url("../images/tri.png"), linear-gradient(to bottom right, #a99bbf, #d6cfe0);
  background-repeat: no-repeat;
}
