@import "var";

.about--text {
	@include breakpoint('small') {
		grid-area: about;
	}
}

.about {
	overflow: hidden;

	img {
		//transform: rotate(-90deg);
		//align-self: center;
	}

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	justify-items: center;
	align-items: center;
	grid-row-gap: 1rem;
	grid-template-areas:
	"img"
	"about";

	@include breakpoint('small') {
		img {
			grid-area: img;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-rows: auto;
		justify-items: center; 
		align-items: center;
		grid-template-areas:
		"img about";
		
	}
}

.skill {
	background-color: lighter($grey);

	box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
	.skill--soft {
		//grid-area: soft;
		//grid-area: skill--soft;

		.skill--title {
			grid-area: title--soft;
		}

		.skill--list {
			grid-area: list--soft;
		}

		.skill--list2 {
			grid-area: list2--soft;
		}
	}

	.skill--design {
		//grid-area: design;
		//grid-area: skill--design;

		.skill--title {
			grid-area: title--design;
		}

		.skill--list {
			grid-area: list--design;
		}

		.skill--list2 {
			grid-area: list2--design;
		}
	}

		display: grid;
		grid-template-columns: auto;
		grid-gap: 1rem;
		grid-template-rows: auto;
		align-items: stretch;
		grid-template-areas:
		"title--soft title--soft ."
		". list--soft list2--soft"
		"title--design title--design ."
		". list--design list2--design";

/* testing --
	background-color: lighter($grey);
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-row-gap: 1rem;
	grid-template-areas:
	"soft"
	"design";
	*/
}
/*
.skill--title{
	//grid-area: title;
	grid-area: skill--title;
}


.skill--list {
	//grid-area: list;
	grid-area: skill--list;
	justify-self: center;

}


.skill--design, .skill--soft {
	@include breakpoint('small') {

		ul:nth-child(2){
			grid-area: list--2;
			justify-self: center;
		}

		display: grid;
		grid-template-columns: auto;
		grid-gap: 1rem;
		grid-template-rows:auto;
		align-items: stretch;
		grid-template-areas:
		"title title ."
		". list--2 list";
		
	}
}
*/
.contact h3, .skill h3{
	border-top: dotted 5px lighter($gold);
	padding-top: 1rem;
}