@import "var";

// container
.container {
	width: 100vw;
	background-color: $purple;
}

h1, header, h3, h4, .more, .contact ul {
	font-family: 'Zilla Slab', serif;
}

.wrapper, .contact h3, .contact ul, h4 {
		padding-top: 1rem;
	}


ul {
	color: $black;
	align-items: flex-start;
	@include no-bullets;
	@include no-underline;	

	li {
		line-height: 1.8rem;
		
		&.nav--logo, &.nav--button{
			border-bottom: solid light($gold) 3px;
			width: 100vw;
			text-align: center;

			@include breakpoint('small') {
				width: auto;
				border-bottom: none;
			}
		}

		&.nav--logo {
			background-image:
				url("../images/cloud.png"),
				url("../images/tri.png"),
				linear-gradient(
				  	to bottom right, 
				 	$purple, light($gold)
				 	);
			background-size: cover;

			@include breakpoint('small') {
				background: inherit;
			}
		}

		&.nav--button {
			font-size: 1.6rem;

			a{
				&:hover {
				color: lightest($gold);
				}
			}
		}

		a {

			&:link, &:visited, &:active{

				@include no-underline;
				color: $black;

			}

			
		}

	}



}

	padding: 1rem 0.5rem;
}

main, section, ul {
	display: flex;
	flex-direction: column;
}

//nav
nav {

	@include breakpoint('small') {
			background-image:
				url("../images/cloud.png"),
				url("../images/tri.png"),
				linear-gradient(
				  	192deg, 
				 	$purple, light($gold)
				 	);
			background-size: cover;
		}

	h1 {
		font-size: 2.7rem;
		font-weight: bolder;
	}

	.nav {
		@include breakpoint('small') {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
		}
	}

} //nav


header {
	text-align: center;
	color: light($purple);
	font-size: 1.4rem;
}

section {
	
	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.4rem;
		border-top: dotted 5px lighter($gold);
	}
	
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		line-height: 1.8rem;
	}

	&.project {
		background-color: lighter($grey);

		p {
			padding-bottom: 1.5rem;
		}
	}
}



article {
	padding: 1rem 0rem;
}

.project--title {
	@include breakpoint('portrait') {
		grid-area: title;
	}
}

.project--about {
	@include breakpoint('portrait') {
		grid-area: about;
	}
}

.project--1, .project--2 {
	box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);

	@include breakpoint('portrait') {
		img {
			grid-area: img;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-rows:auto;
		grid-template-areas:
		"title title"
		"img about"
	}
}

.more {
	font-size: 1.4rem;

	h2 {

		&.more--right {
			color: light($purple);
		}

		&.more--center{
			@include breakpoint('small') {
    			text-align: center;
    		}
		}
	}
}

.contact {

	h3 {
		border-top: dotted 5px lighter($gold);
	}

	ul {
		font-size: 1.2rem;

	}

	a {

		&:link, &:visited, &:active{

			@include no-underline;
			color: $black;

		}

		&:hover {
					color: light($gold);
					}
	}
}
