@import "var";

// container
.container {
	background-color: $purple;
}

h1, header, h3, h4, .more, .contact ul {
	font-family: 'Zilla Slab', serif;
}

.wrapper, .contact h3, .contact ul, h4 {
		padding-top: 1rem;
	}


ul {
	color: $black;
	align-items: flex-start;
	@include no-bullets;
	@include no-underline;	

	li {
		line-height: 1.8rem;
		
		&.nav--logo, &.nav--button{
			box-shadow: 0 1.1px 5px 0 rgba(11, 18, 12, .5);
			width: 100vw;
			text-align: center;


			@include breakpoint('small') {
				width: auto;
				box-shadow: none;
			}
		}

		&.nav--logo {
			background-image:
				url("../images/cloud.png"),
				url("../images/tri.png"),
				linear-gradient(
					to bottom right, 
					$purple, light($gold)
					);
			background-size: cover;

			@include breakpoint('small') {
				background: inherit;
			}
		}

		&.nav--button {
			font-size: 1.6rem;

			a{
				&:hover {
				color: lightest($gold);
				}
			}
		}

		a {

			&:link, &:visited, &:active{

				@include no-underline;
				color: $black;

			}

			
		}

	}



}

header, section, .more h2, .nav--button, .nav--logo, .section--title, .project--title {
	padding: 1rem 2.5rem;
}

main, section, ul {
	display: flex;
	flex-direction: column;
}

//nav
nav {

	@include breakpoint('small') {
			background-image:
				url("../images/cloud.png"),
				url("../images/tri.png"),
				linear-gradient(
					192deg, 
					$purple, light($gold)
					);
			background-size: cover;
		}

	h1 {
		font-size: 2.7rem;
		font-weight: bolder;
	}

	.nav {
		@include breakpoint('small') {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
		}
	}

} //nav


header {
	text-align: center;
	color: light($purple);
	font-size: 1.4rem;
}

section {
	
	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.4rem;
		border-top: dotted 5px light($gold);
	}
	
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		line-height: 1.8rem;
		padding: 0rem 1.2rem 1.5rem;
	}

	&.project {
		background-color: lighter($grey);
	}
}



article {
	padding: 1rem 0rem;

	p {
		a {
			&:link, &:visited, &:active {

			@include no-underline;
			color: darkest($purple);

			}

			&:hover {
						color: light($gold);
					}
		}

		&:nth-child(1){
			font-style: italic;

		}
	}
}

iframe {
	max-width: 100%;
}

.project--title {
	@include breakpoint('portrait') {
		grid-area: title;
	}
}

.project--about {
	@include breakpoint('portrait') {
		grid-area: about;
	}
}

.project--1, .project--2, .project--3 {
	box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);

	@include breakpoint('portrait') {
		img, iframe {
			grid-area: img;
		}

		// grid
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-rows:auto;
		grid-template-areas:
		"title title"
		"img about";
	}
	
img, iframe {
	justify-self: center;
}

	display: grid;
	grid-gap: 20px;
	grid-template-rows:auto;
	grid-template-areas:
		"title"
		"img"
		"about";
	align-items: center;
}

.more {
	font-size: 1.4rem;

	h2 {

		&.more--right {
			color: light($purple);
		}

		&.more--center{
			@include breakpoint('small') {
				text-align: center;
			}
		}
	}
}

.contact {

	h3 {
		border-top: dotted 5px $gold;
		color: lighter($purple);
		
		@include breakpoint('small'){
			font-size: 1.8rem;
		}
	}

	ul {
		font-size: 1.3rem;

		@include breakpoint('small') {
			font-size: 1.5rem;
		}

	}

	a {

		display: block;
		height: 100%;

		&:link, &:visited, &:active{

			@include no-underline;
			color: $black;
		}

		&:hover {
					color: light($gold);
		}
	}

	.mask {
		background: lighter($purple);
		width: 4rem;
		height: 4rem;
		&:hover {
					background: light($gold);
				}

		.in--mask, .gh--mask {
			z-index: 4;
			position: relative;
			display: inline-block;

			& a{
			content: '';
			position: relative;
			display: block;


				&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				}
			}
		}
	}

	.in--mask {
		mask: url('../images/linkedin.svg') center center no-repeat;
		mask-size: cover;
	}

	.gh--mask {
		mask: url('../images/gh.svg') center center no-repeat;
		mask-size: cover;
	}

	// grid

	.contact--title{
		grid-area: title;
	}

	.contact--info{
		grid-area: info;
	}

	.contact--social{
		grid-area: social;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;
	grid-template-rows: auto;
	grid-template-areas:
	"title"
	"info"
	"social";

	@include breakpoint('small') {
		grid-template-areas:
		"title info social";

	}

}
