@import "var";

.about--text {
	@include breakpoint('small') {
		grid-area: about;
	}
}

.about {
	overflow: hidden;

	img {
		//transform: rotate(-90deg);
		//align-self: center;
	}

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	justify-items: center;
	align-items: center;
	grid-row-gap: 1rem;
	grid-template-areas:
	"img"
	"about";

	@include breakpoint('small') {
		img {
			grid-area: img;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-rows: auto;
		justify-items: center; 
		align-items: center;
		grid-template-areas:
		"img about";
		
	}
}

.skill {

	//box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
	.skill--soft{
		grid-area: soft;
	}

	.skill--design {
		grid-area: design;
	}

	background-color: $purple;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-row-gap: 1rem;
	grid-template-areas:
	"soft"
	"design";
}

.skill--title{
	grid-area: title;
}

.skill--list {
	grid-area: list;
	justify-self: center;

}

.skill--list, .skill--title {
	padding: 0 1.2rem 1.5rem;
}

.skill--design, .skill--soft {

	box-shadow: 0 1.1px 5px 0 rgba(0, 0, 0, 0.5);
	@include breakpoint('small') {
		//display: flex;
		//flex-flow: row wrap;
		//justify-content: space-between;
		//align-items: baseline;

		ul:nth-child(2){
			grid-area: list--2;
			justify-self: center;
		}

		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-rows:auto;
		align-items: stretch;
		grid-template-areas:
		"title title title title"
		". . list--2 list";
		
	}
}

.contact h3, .skill h3{
	border-top: dotted 5px lighter($gold);
	padding-top: 1rem;
}